<div class="footer">

    <div class="row">
        <div class="span6 offset3">
            <h4>Staat jouw album niet erbij?</h4>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset3">
             <h6>Stur een email naar <a href="mailto:webmaster@mijnplaatjesruilen.nl">webmaster@mijnplaatjesruilen.nl</a> en we zorgen er voor dat hij online komt.</h4>
        </div>
    </div>
</div>
