<div class="header">
    <div class="row">
        <div class="span2 offset8">Welcome</div>
        <div class="span2">Logout</div>
    </div>
    <div class="row">
        <div class="span6 offset4">
            <h1>mijnplaatjesruilen.nl</h1>
        </div>
        <div class="span7 offset3">
             <h4>de eerste Nederlandse applicatie om plaatjes te beheren en ruilen</h4>
        </div>
    </div>
</div>
